<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>User Login</h2>

    <div>
      <form action="/user/login" method="post">
        <label for="email">Enter your email</label>
        <br />
        <input type="email" required name="email" />
        <br />
        <br />
        <label for="password">Enter your password</label>
        <br />
        <input type="password" required name="password" />
        <br />
        <br />
        <button type="submit">Log in</button>
      </form>
    </div>
  </body>
</html>
