<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h2>User SignUp</h2>

    <div>
        <form action="/user" method="post">
            <label for="name">Enter your fullname</label>
            <br>
            <input type="text" required name="name" placeholder="Tony Stark">
            <br>
            <br>
            <label for="email">Enter your email</label>
            <br>
            <input type="email" required name="email" placeholder="tony@gmail.com">
            <br>
            <br>
            <label for="password">Enter your password</label>
            <br>
            <input type="password" required name="password" placeholder="123456">

            <br>
            <br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>