* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid red;
    padding: 2px;
    display: grid;
    row-gap: 20px;
    column-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    

}

.box {
    border: 2px solid blue;
    padding: 12px;
}